img, embed, obj, video {
	max-width: 100%;
}

#logo {
	max-width: 300px;
}

.headercol h1 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: "Philosopher";
}

.headercol p {
	margin-bottom: 0px;
	font-family: "Philosopher";
}

.project img {
	margin-top: 10px;
	max-height: 400px;
}

.project {
	margin-bottom: 10px;
}

.oddproject {
	background-color: #c0c0c0;
}

.projectimg {
	cursor: pointer;
}

.breakheader {
	border-bottom: 1px solid;
}

#topbannercol {
	border-top: 3px solid #404040;
	padding-top: 8px;
}

#sociallinks {
	font-size: 0.8em;
}

.flexrow {
	display: flex;
	flex-wrap: wrap;
}

.modalimage {
	width: 100%;
}

.triangle {
	fill: #000000;
	stroke: #000000;
	stroke-width: 0;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

stop {
	stop-opacity:1;
}

#leftgrad {
	stop-color:rgb(250,0,0);
}

#middlegrad1 {
	stop-color:rgb(255,0,255);
}

#middlegrad2 {
	stop-color:rgb(255,0,255);
}

#rightgrad {
	stop-color:rgb(0,255,255);
}

ellipse {
	stroke: #000000;
	stroke-width: 0;
	stroke-linejoin: bevel;
	stroke-miterlimit: 10;
}

svg text {
	fill: #ffffff;
	font-family: "Garamond";
}

@media screen and (max-width: 450px) {
	.container {
		font-size: 80%;
	}

	h1 {
		font-size: 200%;
	}

	h2 {
		font-size: 175%;
	}

	h3 {
		font-size: 150%;
	}

	h4 {
		font-size: 125%;
	}
}

@media screen and (min-width: 601px) {
	.headercol h1 {
		margin-top: 15px;
		font-size: 350%;
	}
}

@media screen and (min-width: 992px) {
	.headercol h1 {
		margin-top: 25px;
		font-size: 450%;
	}

	.headercol p {

		font-size: 150%;
	}
}
